streamlit
python-dotenv
openai

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-openai

torch
torchvision
chromadb
sentence-transformers

pypdf
docx2txt
